</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/showdownjs/showdown@1.0.2/dist/showdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/prism.min.js"></script>
	<script src="/scripts/devernote.js"></script>
</body>
</html>