<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Devernote</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
	<link rel="stylesheet" href="/stylesheets/devernote.css">
</head>
<body>
	
	<div class="ui sidebar inverted vertical  menu">
		<div class="ui inverted accordion">
			<!--  -->
			<div class="title">
				<i class="dropdown icon"></i>JavaScript Notes
			</div>
			<div class="content">
				<div class="inverted menu">
					<a class="item">
						The DOM
					</a> 
					<a class="item">
						Animation
					</a>
					<a class="item">
						OOP
					</a>
					<a class="item">
						Tricky Stuff
					</a>
				</div>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>JavaScript Notes
			</div>
			<div class="content">
				<div class="inverted menu">
					<a class="item">
						The DOM
					</a>
					<a class="item">
						Animation
					</a>
					<a class="item">
						OOP
					</a>
					<a class="item">
						Tricky Stuff
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="pusher dimmed">
		<button class="ui black icon button" id="sidebar-btn">
			<i class="book icon"></i>
		</button>