<% include partials/header.ejs %>
  

<div class="ui grid">
  <div class="eight wide column">
    <div class="ui form">
      <div class="ui icon fluid action input">
      
        <input  type="text" name="note[title]" placeholder="Title">
        <div class="ui green submit button"><i class="save icon"></i></div>
      </div>
      <div class="field">
        <textarea id="markdown" name=note[text]></textarea>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <div id="rendered">
      
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
