html, body {
	height: 100%;
}

#sidebar-btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#markdown {
	min-height: 100vh;
}

#rendered {
	min-height: 100%;
	position: relative;
}

#options {
	position: absolute;
	width: 100%;
	height: 100%;
	user-select: none;
	opacity: 0;
	transition: opacity 0.5s;
}

#options:hover {
	opacity: 1;
}

#message-box-container {
	display: none;
	margin: auto;
	position: absolute;
	width: 100%;
	height: 100%;
}

#message-box-container>div {
	padding: 20px 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.display-inline {
	display: inline;
}