<% include ../partials/header.ejs %>

<div class="ui middle aligned  container">
  <div class="row">
    <div id="rendered">
			<%- html %>
		</div>
  </div>
</div>


<% include ../partials/footer.ejs %>
